# Rust build artifacts
target/

# SQLite database and uploaded files .gitkeep files ensure the dirs are cloned even if empty
data/db/*
!data/db/.gitkeep
data/uploads/*
!data/uploads/.gitkeep

# Environment variables
.env

# SQLite temp files 
*.db
*.db-shm
*.db-wal